<!----Sidebar-->
<div class="animation-panel">
      <div class="animation-container">
        
        <div class="lottie-container">
          <dotlottie-player
            src="https://lottie.host/3e2b7a7b-b193-420e-a6a8-36abb1ea2cc2/sikVMmp8HU.lottie"
            background="transparent"
            speed="1"
            loop
            autoplay
            style="width: 300%; height: 300%;">
          </dotlottie-player>
         
        </div>
      </div>
    </div>
    
